<nav>
  <div class="container">
    <div class="wrapper">
      <h1>Playground</h1>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Writeable Signal</a></li>
        <li><a routerLink="/computed-signal" routerLinkActive="active">Computed Signal</a></li>
        <li><a routerLink="/effect" routerLinkActive="active">Effect</a></li>
        <!-- <li><a routerLink="/ng-container" routerLinkActive="active">NgContainer</a></li>
        <li><a routerLink="/ng-template" routerLinkActive="active">NgTemplate</a></li>
        <li><a routerLink="/ng-templateoutlet" routerLinkActive="active">NgTemplateOutlet</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <router-outlet />
  </div>
</section>