<nav>
  <div class="container">
    <div class="wrapper">
      <h1>Playground</h1>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Writeable Signal</a></li>
        <li><a routerLink="/computed-signal" routerLinkActive="active">Computed Signal</a></li>
        <li><a routerLink="/effect" routerLinkActive="active">Effect</a></li>
        <li><a routerLink="/linked-signal" routerLinkActive="active">Linked Signal</a></li>
        <li><a routerLink="/to-signal" routerLinkActive="active">ToSignal</a></li>
        <li><a routerLink="/to-observable" routerLinkActive="active">ToObservable</a></li>
        <li><a routerLink="/input" routerLinkActive="active">Input</a></li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <router-outlet />
  </div>
</section>